<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.google.android.apps.nexuslauncher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.google.android.apps.nexuslauncher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="${applicationId}.permission.READ_SETTINGS" />
    <uses-permission android:name="${applicationId}.permission.WRITE_SETTINGS" />

    <!-- Pixel -->
    <permission
        android:name="${applicationId}.permission.QSB"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="signatureOrSystem" />

    <uses-permission android:name="${applicationId}.permission.QSB" />

    <!-- Custom -->
    <uses-permission android:name="android.permission.BIND_APPWIDGET" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <!-- For weather / sunset/-rise -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="org.zimmob.zimlx.ZimApp"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="whateverString">

        <!-- The settings activity. When extending keep the intent filter present -->
        <activity
            android:name="org.zimmob.zimlx.settings.ui.SettingsActivity"
            android:autoRemoveFromRecents="true"
            android:label="@string/settings_button_text"
            android:theme="@style/SettingsTheme.V2">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Pixel -->
        <activity
            android:name="com.google.android.apps.nexuslauncher.search.AppLaunchActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter android:priority="1">
                <action android:name="com.google.android.apps.nexuslauncher.search.APP_LAUNCH" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="vnd.android.cursor.dir/vnd.android.search.suggest"
                    android:scheme="content" />
            </intent-filter>
        </activity>


        <activity
            android:name="org.zimmob.zimlx.FakeLauncher"
            android:enabled="false">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:autoRemoveFromRecents="true"
            android:label="@string/derived_app_name"
            android:name="org.zimmob.zimlx.settings.ui.SettingsSearchActivity"
            android:theme="@style/SettingsTheme.V2"
            android:parentActivityName="org.zimmob.zimlx.settings.ui.SettingsActivity" />
        <receiver
            android:name="com.google.android.apps.nexuslauncher.qsb.OPAStatusReceiver"
            android:permission="android.permission.CAPTURE_AUDIO_HOTWORD">
            <intent-filter>
                <action android:name="com.google.android.systemui.OPA_ENABLED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.google.android.apps.nexuslauncher.smartspace.SmartspaceBroadcastReceiver">
            <intent-filter>
                <action android:name="com.google.android.apps.nexuslauncher.UPDATE_SMARTSPACE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.google.android.apps.nexuslauncher.qsb.LongClickReceiver" />

        <provider
            android:name="com.google.android.apps.nexuslauncher.search.AppSearchProvider"
            android:authorities="${applicationId}.appssearch"
            android:exported="true" />

        <activity
            android:name="org.zimmob.zimlx.backup.BackupListActivity"
            android:label="@string/backups"
            android:parentActivityName="org.zimmob.zimlx.settings.ui.SettingsActivity"
            android:theme="@style/SettingsTheme.V2" />
        <activity
            android:name="org.zimmob.zimlx.backup.NewBackupActivity"
            android:label="@string/new_backup"
            android:parentActivityName="org.zimmob.zimlx.backup.BackupListActivity"
            android:theme="@style/SettingsTheme.V2" />
        <activity
            android:name="org.zimmob.zimlx.backup.RestoreBackupActivity"
            android:label="@string/restore_backup"
            android:parentActivityName="org.zimmob.zimlx.backup.BackupListActivity"
            android:theme="@style/SettingsTheme.V2">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/vnd.zim.backup" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/x-zip-compressed" />
                <data android:mimeType="application/zip" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <!--
                    Work around Android's ugly primitive PatternMatcher
                    implementation that can't cope with finding a . early in
                    the path unless it's explicitly matched.
                -->
                <data android:host="*" />
                <data android:pathPattern=".*\\.zbk" />
                <data android:pathPattern=".*\\..*\\.zbk" />
                <data android:pathPattern=".*\\..*\\..*\\.zbk" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.zbk" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.zbk" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.zbk" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.zbk" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.zbk" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.zbk" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.zimmob.zimlx.minibar.MinibarEditActivity"
            android:label="Edit Item"
            android:parentActivityName="org.zimmob.zimlx.ZimLauncher"
            android:theme="@style/SettingsTheme.V2" />

        <activity
            android:name="org.zimmob.zimlx.settings.ui.MoreInfoActivity"
            android:label="@string/about"
            android:parentActivityName="org.zimmob.zimlx.settings.ui.SettingsActivity"
            android:theme="@style/SettingsTheme.V2" />

        <!-- Apply directly from iconpack -->
        <activity
            android:name="org.zimmob.zimlx.iconpack.ApplyIconPackActivity"
            android:theme="@style/SettingsTheme.V2.Transparent">
            <intent-filter>
                <action android:name="org.zimmob.zimlx.APPLY_ICONS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Icon picker -->
        <activity
            android:name="org.zimmob.zimlx.iconpack.EditIconActivity"
            android:theme="@style/SettingsTheme.V2" />
        <activity
            android:name="org.zimmob.zimlx.iconpack.IconPickerActivity"
            android:theme="@style/SettingsTheme.V2" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>